svg {
  width: 100px; }

#cross .st3 {
  fill: none;
  stroke: red;
  stroke-width: 2;
  stroke-miterlimit: 10; }
#cross .st3:hover {
  stroke: blue; }

#circle-red .st0 {
  border: none;
  fill: red; }
  #circle-red .st0:hover {
    fill: blue; }

#logo .st1 {
  fill: #73ABDD; }
#logo .st1:hover {
  fill: #a88d1d; }
#logo .st2 {
  fill: #AFE2FD; }
#logo .st2:hover {
  fill: #131833; }

.circle {
  height: 20px; }
  .circle:hover {
    height: 20px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FF0000;%7D; %7D%0A%3C/style%3E%3Ccircle id='XMLID_1_' class='st0' cx='10' cy='10' r='10'/%3E%3C/svg%3E"); }

img {
  height: 400px; }

.cross {
  height: 400px;
  width: 400px;
  padding: 2em;
  background-color: brown;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23FFFFFF;stroke-width:2;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg id='XMLID_3_'%3E%3Cline id='XMLID_1_' class='st0' x1='0' y1='0' x2='100' y2='100'/%3E%3Cline id='XMLID_2_' class='st0' x1='100' y1='0' x2='0' y2='100'/%3E%3C/g%3E%3C/svg%3E"); }
  .cross:hover {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23FFFFFF;stroke-width:2;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg id='XMLID_3_'%3E%3Cline id='XMLID_1_' class='st0' x1='0' y1='0' x2='100' y2='100'/%3E%3Cline id='XMLID_2_' class='st0' x1='100' y1='0' x2='0' y2='100'/%3E%3C/g%3E%3C/svg%3E"); }

#icon {
  width: 200px;
  height: 200px;
  background-color: red;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E%3C/style%3E%3Cg id='XMLID_3_'%3E%3Cline id='XMLID_1_' class='st0' x1='0' y1='0' x2='100' y2='100' stroke= '%23FFFFFF' stroke-width = '2' stroke-miterlimit = '10'/%3E%3Cline id='XMLID_2_' class='st0' x1='100' y1='0' x2='0' y2='100' stroke= '%23FFFFFF' stroke-width = '2' stroke-miterlimit = '10'/%3E%3C/g%3E%3C/svg%3E"); }

.inline-svg {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
  stroke: #000000;
  stroke-width: 4.8397;
  stroke-linecap: square;
  stroke-miterlimit: 10; }
  .inline-svg .svg-menu-toggle {
    pointer-events: all;
    cursor: pointer; }
    .inline-svg .svg-menu-toggle .bar {
      -webkit-transform: rotate(0) translateY(0) translateX(0) scale(1);
      transform: rotate(0) translateY(0) translateX(0) scale(1);
      opacity: 1;
      -webkit-transform-origin: 200px 0px;
      transform-origin: 200px 0px;
      -webkit-transition: -webkit-transform 2s ease-in-out, opacity 0.2s ease-in-out;
      transition: transform 2s ease-in-out, opacity 0.2s ease-in-out; }
    .inline-svg .svg-menu-toggle .bar:nth-of-type(1) {
      -webkit-transform-origin: 97.9px 3.3px;
      transform-origin: 97.9px 3.3px; }
    .inline-svg .svg-menu-toggle .bar:nth-of-type(3) {
      -webkit-transform-origin: 97.6px 96.4px;
      transform-origin: 97.6px 96.4px; }
  .inline-svg:hover .bar:nth-of-type(2) {
    opacity: 0; }
  .inline-svg:hover .bar:nth-of-type(1) {
    -webkit-transform: rotate(-45deg) translateY(0em) translateX(0em) scale(1.4);
    transform: rotate(-45deg) translateY(0em) translateX(0em) scale(1.4);
    stroke-width: 3.4;
    stroke: blue; }
  .inline-svg:hover .bar:nth-of-type(3) {
    -webkit-transform: rotate(45deg) translateY(0) translateX(0) scale(1.4);
    transform: rotate(45deg) translateY(0) translateX(0) scale(1.4);
    stroke-width: 3.4;
    stroke: blue; }

/*# sourceMappingURL=style.css.map */
